
.idea/misc.xml

.idea/misc.xml

.idea/workspace.xml

*.rawproto

build/android-profile/profile-2018-01-04-10-19-36-007.json

.gradle/4.1/taskHistory/taskHistory.lock

.gradle/4.1/taskHistory/taskHistory.bin

.gradle/4.1/taskHistory/fileSnapshots.bin

.gradle/4.1/javaCompile/taskHistory.bin

.gradle/4.1/javaCompile/javaCompile.lock

build/android-profile/profile-2018-01-04-11-59-03-008.json

build/android-profile/profile-2018-01-04-11-58-22-456.json

build/android-profile/profile-2018-01-04-11-54-46-798.json
